@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
@import './variables.scss';


.basic-input {
    height: 40px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
    border: none;
}

.radio-input {
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 165px;
    background-color: white;
    cursor: pointer;
}

.radio-input img {
    margin-right: 12px;
}

.radio-base {
    display: none;
}

.radio-base:checked + .radio-input {
    background: #FF9846;
    color: white;
}

.card{
    fill: #FF9846;
}

.left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -0.5px;
}

.right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0.5px;
}

.form-wrapper {
    display: flex;
    gap: 40px;
    width: 760px;
    margin-bottom: 20px;
}

.first-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 360px;
}

.second-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 360px;
}

.input {
    display: flex;
    margin-bottom: 10px;
}

.person-input {
    width: 160px;
    margin-right: 10px;
}

.label {
    margin-right: 7px;
    padding: 0;
}

.checkbox-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    padding: 0;
    margin-right: 10px;
}

.checkbox-input + label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.checkbox-input + label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.checkbox-input:checked + label::before {
    border-color: #FF9846;
    background-color: #FF9846;
    border: 1px solid #fff;
    background-image: url(../assets/img/checkbox.svg);
}

.summ-input {
    width: 122px;
}

.change-input {
    align-items: center; 
}

.big-input {
    width: 330px;
}

.input-option-first {
    margin-bottom: 5px;
    align-items: baseline;
}

.input-option-second {
    margin-bottom: 13px;
    align-items: baseline;
}

.add-option {
    margin-right: 40px;
}

.add-option-summ {
    border: none;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    width: 35px;
}

.minus {
    cursor: pointer;
    width: 10px;
    height: 3px;
    border: none;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
}

.plus {
    cursor: pointer;
    width: 19.28px;
    height: 19.28px;
    border-radius: 50%;
    background-color: #F46D40;
    border: none;
    padding-top: 10px;
}

.plus::before {
    content: "";
    width: 12px;
    border-bottom: 2px solid #F2F2F2;
    position: absolute;
    transform: translate(-5.5px, -5.5px) rotate(179deg);
}

.plus::after {
    content: "";
    width: 12px;
    border-bottom: 2px solid #F2F2F2;
    position: absolute;
    transform: translate(-6.2px, -5.8px) rotate(-90deg);
}

.adress {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.street {
    width: 330px;
}

.house {
    width: 330px;
}

.small {
    width: 160px;
    margin-right: 6px;
}

.small-input {
    gap: 13px;
}

.submit-button {
    cursor: pointer;
    width: 330px;
    height: 45px;
    background-color: #F46D40;
    color: #fff;
    text-align: center;
}

.cart {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__point {
        display: flex;
        gap: 50px;
        margin-bottom: 10px;

        span {
            width: 150px;
            text-align: center;
            font-weight: 400;
        }

        .bold {
            font-weight: 500;
        }

        .orange {
            color: $orange;
            font-weight: 500;
        }
    }

    &__line {
        width: 330px;
        border-bottom: 0.5px solid $light-gray;
        margin-bottom: 10px;
    }
}